package components

import "github.com/agneum14/lonchur/yamlconfig"

css Title(colors yamlconfig.Colors) {
	color: { colors.Title };
}

css Background(colors yamlconfig.Colors) {
	background-color: { colors.Background };
}

css Text(colors yamlconfig.Colors) {
    color: { colors.Text };
}

css BackgroundLight(colors yamlconfig.Colors) {
    background-color: { colors.BackgroundLight };
}
