package pages

templ Home() {
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lonchur</title>
    <link rel="stylesheet" href="/static/tailwind.css" />
</head>

<body>
    <h1 class="text-4xl">Lonchur</h1>
    <span>Yeah, this home page is pretty cool.</span>
</body>

</html>
}
